@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(20000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

// Adjust star size
$star-size: 1px;

// html {
//   height: 100%;
//   background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
//   overflow: hidden;
// }

.stars_bg {
  position: relative; /* Add relative positioning to contain stars animation */
  overflow: hidden;
}

#stars, #stars2, #stars3 {
  width: $star-size;
  height: $star-size;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;
}

#stars2 {
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
}

#stars3 {
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;
}

#stars, #stars2, #stars3 {
  position: absolute; /* Position stars absolutely within the .most-popular div */
  top: 0;
  left: 0;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
